[user]
	email = juan.aguero@acousticresearch.com.au
	name = Juan Aguero
[core]
	editor = vim
[push]
	recurseSubmodules = on-demand
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[difftool "vimdiff"]
    prompt = false
[alias]
	lg = log --all --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
